<%= link_to '<< Back', slideshows_path %>
<hr>
<h1 class="slideshow-header"><%= @slideshow.title %></h1>
<br><br>

<%= simple_form_for @slideshow, html: {multipart: true} do |f| %>
	<%= f.input :title, label:'Slideshow Title' %>

	<%= f.simple_fields_for :slides do |ff| %>
		<%= render 'slides/slide_fields', f: ff %>
	<% end %>
	
	<%= link_to_add_fields "Add Slide", f, :slides %>
	<br>
	<%= f.submit 'Update', class: 'btn-primary' %>
<% end %>

<br><hr><br>

<% @slideshow.slides.each do |slide| %>
	<div>
		<%= image_tag slide.image.thumb.url %>
		<%= slide.title %> - <%= slide.description %>
	</div>
<% end %>


<% if false %>
	<% @slides.each do |slide| %>
		<%= render 'slides/nf_slide', slide: slide %>
	<% end %>
<% end %>