
<h1><%= @slideshow.title %></h1>


<% @slides.each do |slide| %>
	<%= render 'slides/slide', slide: slide %>
<% end %>

<%= simple_form_for [@slideshow, @slide], html: {multipart: true} do |f| %>
	<%= f.input :title %>
	<%= f.text_area :description %>
	<%= f.file_field :image %>
	<%= f.button :submit %>
<% end %>